#leftCol {
  background-color: #333333;
    position: fixed;
    width: 282px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}
body{
  background-color: #C0C0C0;
}
/* fullscreen */
@media (min-width: 780px) {
  #RightCol {
    margin-left: 282px;

  }
  #leftCol{
    display:block;
  }

  .menu{
    display:none;
  }
  .icon{
  width: 30px;
  height: 30px;
  margin-top: 17px;
  margin-bottom: 26px;
  margin-left: 20px;
  margin-right: 20px;
  }
  .text,.items,.text4{
    font-size:22px;
}


.text2,.text3{
  font-size: 40px;
}

}


/* mobile */
@media (max-width: 779px) {
  #RightCol {
    margin-left: 0%; */
    z-index: 1;
  }
  #leftCol{
    display: none;
  }
  .menu{
    display:block;
  }
  .image{
    display:none;
  }
  .edu{
    text-align: center;
  }
  .icon{
  width: 20px;
  height: 20px;
  margin-top: 17px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  }

  .text,.items,.text4{
    font-size:18px;
  }


  .text2,.text3{
  font-size: 25px;
  }
  .text4{

     text-align:justify;
    /* display: flex; */
  }
  ul{
    margin: 0 auto;
  }

}

@keyframes show {
    0% {
      opacity: 0;
      height: 0px;
      line-height: 0px;

    }
    75% {
        opacity: 0;
        height: 100%;
        line-height: 100%;

    }
    100% {

        opacity: 1;
        height: 100%;
          line-height: 100%;

    }
}

.menu{
  width: 30px;
  height: 30px;
  background-color: white;
  border: 3px solid black;
  position: fixed;
  top: 2px;
  left:2px;
}
#profile{
  /* margin:30px 0 15px 29px; */
  display: block;
  margin-top: 4%;
  margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;

  height: 70%;
  width: 70%;
  border: 6px solid #4F4F4F;
  border-radius: 50%;
  box-sizing: border-box;

}
footer{
  margin-top: 30px;
}
.text,.items{
color:  #F2F2F2;
font-family: Margarine;
font-style: normal;
/* text-align: center; */
/* margin-bottom: 26px; */

}

.containers {
  position: relative;
  /* text-align: center; */
  color: black;
}
.containers .content {
  position: absolute;
  top:210px;
  color: black;
  width: 100%;
  padding: 20px;
}
.avatar{
width: 100%;
height: 500px;
opacity: 0.6;
}
.image{
  padding-left: 5px;
  width: 90%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;

}

.text2{
  color:  #000044;
  margin: 2% 0 0% 5%;
  font-family: Margarine;
  /* font-size: 50px; */
}
.text3{
  margin-top: 4%;
  font-family: Margarine;
  /* font-size: 36px; */
  color:  #000044;
  /* color: #121212; */
  text-align: center;
}
.text6{
  font-family: Roboto Condensed;
  color:  #000044;
  /* color: #3D3D3D; */
  /* text-align: center; */
}
.text4{
  font-family: Roboto Condensed;
  color:  #000044;
  /* color: #3D3D3D; */
}
.text5{
  color: #003366;
  /* color: #959595; */
  font-family:Roboto;
  /* text-align: center; */
  font-size: 17px;
}

ul {
  display: table;
  /* margin: 0 auto; */
}

.arrow {
  border: solid #3D3D3D;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}
.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.dropdown {
  position: relative;
  display: inline-block;
}
button {
  border: 2px solid #e7e7e7;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #959595;/* Green */
  color: white;
}
.box{
  background-color:#E6E6FA;
  -webkit-box-shadow: 0 0 5px #123;
  box-shadow: 0 0 5px #123;
  /* animation-name: show;
  animation-duration: 4s; */
}
.title{
  margin-bottom: 5px;
  margin-top: 5px;
}
/* .description{
  animation-name: show;
     animation-duration: 2s;
     animation-fill-mode: forwards;
     animation-play-state: paused;
}

/* <img  src="assets/p1.jpg" alt=""> */ */
